<html>
<head>

<style>
@media print {
  .controls {
    display:none;    
  }
}

table.letterTable {
  border:1px solid black;
  border-collapse: collapse;
  font-size:30px
}

table.letterTable td {
  border:1px solid black;
  text-align:center;
  width:40px;
}

table.puzzleTable {
  font-size:30px;
}

table.puzzleTable td {
  padding:10px;
  text-align:center;
  width:75px;
}

.controls > * {
  height:60px;
  font-size:20pt;
}
</style>

<script src="/bower_components/angular/angular.js"></script>
<script type="text/javascript">

var app = angular.module('Crypto', []);
app.controller('CryptoCtrl', ['$scope', function($scope) {

  $scope.sentence ="";
  $scope.lettersString = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
  $scope.letters = [];
  $scope.lettersToNumbers = {};

  $scope.setLetters = function(lettersArray) {
    for(var i = 0; i < lettersArray.length; i++) {
      $scope.lettersToNumbers[lettersArray[i]] = i + 1;
      $scope.letters = lettersArray;
    }
  };

  $scope.resetLetters = function() {
    $scope.setLetters($scope.lettersString.split(""));
  };

  $scope.resetLetters(); // calling to init

  $scope.shuffleLetters = function() {
    var array = $scope.lettersString.split("");
    var currentIndex = array.length;
    var temporaryValue;
    var randomIndex;

    // While there remain elements to shuffle...
    while (0 !== currentIndex) {

      // Pick a remaining element...
      randomIndex = Math.floor(Math.random() * currentIndex);
      currentIndex -= 1;

      // And swap it with the current element.
      temporaryValue = array[currentIndex];
      array[currentIndex] = array[randomIndex];
      array[randomIndex] = temporaryValue;
    }

    $scope.setLetters(array);
  };

  $scope.clearSentence = function() {
    $scope.sentence = "";
  };

  $scope.dash = function(character) {
    if($scope.letters.indexOf(character.toUpperCase()) >= 0) {
      return "_____";
    } else {
      return character;
    }
  };

  $scope.clue = function(character) {
    var num = $scope.lettersToNumbers[character.toUpperCase()];
    if(num !== undefined) {
      return num;
    } else {
      return " ";
    }
  };

  $scope.lines = function() {
    var lineList = [];
    var curLine = "";

    var wordList = $scope.sentence.split(/\s+/);
    for(var i = 0; i < wordList.length; i++) {
      var word = wordList[i];
      if(curLine.length !== 0 && curLine.length + word.length > 12) {
        lineList.push(curLine);       
        curLine = "";
      }

      if(curLine.length !== 0) {
        curLine += " ";
      }
      curLine += word;
    }

    if(curLine.length > 0) {
      lineList.push(curLine);
    }

    return lineList;
  };

}]);
</script>
</head>

<body ng-app="Crypto" ng-controller="CryptoCtrl">
<div class="controls">
  <span>Enter puzzle text</span>
  <input ng-model="sentence" autofocus>
  <button onclick="window.print()">Print</button>
  <button ng-click="shuffleLetters()">Shuffle</button>
  <button ng-click="clearSentence()">Clear</button>
  <br><br>
</div>

<div>
  <table class="letterTable">
    <tr>
      <td ng-repeat="letter in letters">{{letter}}</td>
    </tr>
    <tr>
      <td ng-repeat="letter in letters">{{lettersToNumbers[letter]}}</td>
    </tr>
  </table>
</div>

<div ng-repeat="line in lines()">
  <br><br><br><br>
  <table class="puzzleTable">
    <tr>
      <td ng-repeat="c in line track by $index">{{dash(c)}}</td>
    </tr>
    <tr>
      <td ng-repeat="c in line track by $index">{{clue(c)}}</td>
    </tr>
  </table>
</div>
<body>
</html>
