<html>
<head>
<link rel="stylesheet" href="style/main.css">
<script src="/bower_components/angular/angular.js"></script>
<script src="js/app.js"></script>
</head>

<body ng-app="Crypto" ng-controller="CryptoCtrl">
<div class="controls">
  <span>Enter puzzle text</span>
  <input ng-model="sentence" autofocus>
  <button onclick="window.print()">Print</button>
  <button ng-click="shuffleLetters()">Shuffle</button>
  <button ng-click="clearSentence()">Clear</button>
  <br><br>
</div>

<div>
  <table class="letterTable">
    <tr>
      <td ng-repeat="letter in letters">{{letter}}</td>
    </tr>
    <tr>
      <td ng-repeat="letter in letters">{{lettersToNumbers[letter]}}</td>
    </tr>
  </table>
</div>

<div ng-repeat="line in lines()">
  <br><br><br><br>
  <table class="puzzleTable">
    <tr>
      <td ng-repeat="c in line track by $index">{{dash(c)}}</td>
    </tr>
    <tr>
      <td ng-repeat="c in line track by $index">{{clue(c)}}</td>
    </tr>
  </table>
</div>
<body>
</html>
